@model IEnumerable<frontend.Models.Minteres>

@{
    ViewData["Title"] = "Interes";
}
<br />
<h2 class="text-center">Lista de tipos de interes</h2>
<br />

<p>
    <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#insertInteres">
        <i class="bi bi-clipboard2-plus"></i> Ingresar nuevo interes
    </a>
</p>
<table class="table table-bordered table-hover" id="mydata">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.interes)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.interesMinimo)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.fechaIngreso)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.fechaUp)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th class="text-center">
                Acción
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.interes)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.interesMinimo)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaUp)
                </td>
                <td class="text-center">
                    @if (item.estado == 0)
                    {
                            <span class="badge rounded-pill bg-danger">Inhabilitado</span>
                    }
                    else if (item.estado == 1)
                    {
                            <span class="badge rounded-pill bg-primary">Activo</span>
                    }
                </td>
                <td style="text-align:center;">
                    <a data-toggle="modal" onClick="editar(@Html.DisplayFor(modelItem => item.idInteres))" class="btn btn-info btn-sm item_edit">Editar</a>
                    <a data-toggle="modal" onClick="inhabilitar(@Html.DisplayFor(modelItem => item.idInteres))" class="btn btn-danger btn-sm item_delete" data-codigo="">Inhabilitar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--Modal para insertar los intereses-->
<div class="modal" id="insertInteres">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Ingresar nuevo interes</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="mb-12">
                        <div id="validacion" style="color:red"></div>
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="interes" class="form-label">Interes %:</label>
                        <input type="number" class="form-control" id="interes" name="interes" required min="0" max="100">
                    </div>

                    <div class="mb-3">
                        <label for="interesMinimo" class="form-label">Interes minimo %:</label>
                        <input type="number" class="form-control" id="interesMinimo" name="interesMinimo" required min="0" max="100">
                    </div>

                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripcion:</label>
                        <textarea type="text" class="form-control" id="descripcion" name="descripcion" required></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" id="btnInsert">
                    <i class="bi bi-plus-circle"></i> Ingresar
                </button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle"></i> Cerrar
                </button>
            </div>

        </div>
    </div>
</div>

<!--Modal para editar los intereses-->
<div class="modal" id="editInteres">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Editar interes</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="mb-12">
                        <input type="hidden" name="id_edit" id="id_edit" class="form-control">
                        <div id="validacion_edit" style="color:red"></div>
                    </div>
                    <div class="mb-3">
                        <label for="nombre_edit" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre_edit" name="nombre_edit" required>
                    </div>
                    <div class="mb-3">
                        <label for="interes_edit" class="form-label">Interes %:</label>
                        <input type="number" class="form-control" id="interes_edit" name="interes_edit" required min="0" max="100">
                    </div>

                    <div class="mb-3">
                        <label for="interesMinimo_edit" class="form-label">Interes minimo %:</label>
                        <input type="number" class="form-control" id="interesMinimo_edit" name="interesMinimo_edit" required min="0" max="100">
                    </div>

                    <div class="mb-3">
                        <label for="descripcion_edit" class="form-label">Descripcion:</label>
                        <textarea type="text" class="form-control" id="descripcion_edit" name="descripcion_edit" required></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" id="btnEdit" onClick="editarInteres();">
                    <i class="bi bi-send-check"></i> Guardar
                </button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle"></i> Cerrar
                </button>
            </div>

        </div>
    </div>
</div>
<!-- Modal para inhabilitar -->
<div class="modal" id="inhabilitarInteres">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Inhabilitar interes</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <input type="hidden" name="id_inhabilitar" id="id_inhabilitar" class="form-control">
                <h5>Esta seguro de inhabilitar este interes</h5>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" id="btnInhabilitar" onClick="inhabilitarInteres();">
                    <i class="bi bi-check-circle"></i> Aceptar
                </button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle"></i> Cerrar
                </button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $('#mydata').dataTable({
        "bAutoWidth": false,
        "oLanguage": {
            "sSearch": "Buscador: "
        }
    });

    $("#btnInsert").click(function () {
        data = {
            "nombre": $("#nombre").val(),
            "interes": $("#interes").val(),
            "interesMinimo": $("#interesMinimo").val(),
            "descripcion": $("#descripcion").val()
        };
        $.ajax({
            url: "@Url.Action("insertInteres","Interes")",
            type: "POST",
            data: data,
            dataType: "JSON",
            success: function (data) {
                console.log(data[1])
                if (data[1] == "") {
                    document.getElementById('validacion').innerHTML = "";
                    $('[name="nombre"]').val("");
                    $('[name="interes"]').val("");
                    $('[name="interesMinimo"]').val("");
                    $('[name="descripcion"]').val("");

                    mostrarIntereses();
                    $("#insertInteres").modal('toggle');
                    Swal.fire(
                        'Ingreso!',
                        data[0],
                        'success'
                    );
                } else {
                    document.getElementById('validacion').innerHTML = data[1];
                }

            },
            error: function (data) {
                var a = JSON.stringify(data['responseText']);
                alert(a);
                this.disabled = false;
            }

        });
    })

    function mostrarIntereses() {
        $('#mydata').dataTable().fnDestroy();
        $('tbody').empty();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("intereses","Interes")',
            async: false,
            dataType: 'JSON',
            data: {},
            success: function (data) {
                console.log(data);
                $.each(data, function (key, registro) {
                    if (registro.estado == 0) {
                        estado = '<span class="badge rounded-pill bg-danger">Inhabilitado</span>';
                    } else {
                        estado = '<span class="badge rounded-pill bg-primary">Activo</span>';
                    }
                    $('tbody').append(
                        '<tr>' +
                        '<td>' + registro.nombre + '</td>' +
                        '<td>' + registro.interes + '%</td>' +
                        '<td>' + registro.interesMinimo + '%</td>' +
                        '<td>' + registro.descripcion + '</td>' +
                        '<td>' + formaroFecha(registro.fechaIngreso) + '</td>' +
                        '<td>' + formaroFecha(registro.fechaUp) + '</td>' +
                        '<td>' + estado + '</td>' +
                        '<td style="text-align:center;">' +
                        '<a data-toggle="modal" onClick="editar(' + registro.idInteres + ')" class="btn btn-info btn-sm item_edit" id=" ">Editar</a>' + 
                        ' ' + '<a data-toggle="modal" onClick="inhabilitar(' + registro.idInteres + ')" class="btn btn-danger btn-sm item_delete" data-codigo="">Inhabilitar</a>' +
                        '</td>' +
                        '</tr>'
                    );
                });
            },
            error: function (data) {
                var a = JSON.stringify(data['responseText']);
                alert(a);
            }
        });

        //Se genera la paguinacion cada ves que se ejeucuta la funcion
        $('#mydata').dataTable({
            "bAutoWidth": false,
            "oLanguage": {
                "sSearch": "Buscador: "
            }
        });
    }

    function editar(code) { 
        document.getElementById('validacion_edit').innerHTML = '';
        data = {
            "idInteres": code
        };
        $.ajax({
            type: "POST",
            url: '@Url.Action("datosInteres","Interes")',
            dataType: "JSON",
            data: data,
            success: function (data) {
                console.log(data);
                $('[name="id_edit"]').val(code);
                $('[name="nombre_edit"]').val(data[0].nombre);
                $('[name="interes_edit"]').val(data[0].interes);
                $('[name="interesMinimo_edit"]').val(data[0].interesMinimo);
                $('[name="descripcion_edit"]').val(data[0].descripcion);
                $('#editInteres').modal('show');

            },
            error: function (data) {
                var a = JSON.stringify(data['responseText']);
                alert(a);
                this.disabled = false;
            }
        });
    }

    function editarInteres() {
        data = {
            "idInteres": $("#id_edit").val(),
            "nombre": $("#nombre_edit").val(),
            "interes": $("#interes_edit").val(),
            "interesMinimo": $("#interesMinimo_edit").val(),
            "descripcion": $("#descripcion_edit").val()
        };

        $.ajax({
            url: "@Url.Action("editInteres","Interes")",
            type: "POST",
            data: data,
            dataType: "JSON",
            success: function (data) {
                console.log(data[1])
                if (data[1] == "") {
                    document.getElementById('validacion_edit').innerHTML = "";
                    $('[name="id_edit"]').val("");
                    $('[name="nombre_edit"]').val("");
                    $('[name="interes_edit"]').val("");
                    $('[name="interesMinimo_edit"]').val("");
                    $('[name="descripcion_edit"]').val("");

                    mostrarIntereses();
                    $("#editInteres").modal('toggle');
                    Swal.fire(
                        'Editar!',
                        data[0],
                        'success'
                    );
                } else {
                    document.getElementById('validacion_edit').innerHTML = data[1];
                }

            },
            error: function (data) {
                var a = JSON.stringify(data['responseText']);
                alert(a);
                this.disabled = false;
            }

        });
    }

    function inhabilitar(code) {
        $('[name="id_inhabilitar"]').val(code);
        $('#inhabilitarInteres').modal('show');

    }

    function inhabilitarInteres() {
        data = {
            "idInteres": $("#id_inhabilitar").val(),
        };

        $.ajax({
            url: "@Url.Action("inhabilitarInteres","Interes")",
            type: "POST",
            data: data,
            dataType: "JSON",
            success: function (data) {
                $('[name="id_inhabilitar"]').val("");
                mostrarIntereses();
                $("#inhabilitarInteres").modal('toggle');
                Swal.fire(
                    'Inhabilitar!',
                    data,
                    'success'
                );
            },
            error: function (data) {
                var a = JSON.stringify(data['responseText']);
                alert(a);
                this.disabled = false;
            }

        });
    }
</script> 
